{% extends 'base.html' %}

{% block title %}Import CSV files{% endblock %}

{% block content %}

  <h2>Import CSV file</h2>
  <hr>

  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload</button>
  </form>

  {% if registers %}
    <hr>
    Processed  {{ num_registers }} new registers.
    {% if num_registers > 100 %}
      Showing the first 100.
    {% endif %}
    <hr>

    {% for line in registers %}
      {% if line.title %}Title: {{ line.title }}<br>{% endif %}
      {{ line.content }}<br><br>
    {% endfor %}
  {% endif %}

{% endblock %}
