{% load static %}
<html>
    <head>
        <title>Topics</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <center><h1>Topics</center>
              <p style="text-align:center;">
                <a href="{% url 'import_files' %}">
                Import files
                </a> |
                <a href="{% url 'generate_dataset' %}">
                Generate dataset
                </a>
                </a> |
                <a href="{% url 'cluster_data' %}">
                Cluster data
                </a> |
                <a href="{% url 'clusters_index' %}">
                Clusters index
                </a> |
                <a href="{% url 'all_clusters' %}">
                All clusters
                </a>

              </p>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
