
<h4><a href="{% url 'cluster' cluster.id %}">
  Level {{ cluster.level }} - Cluster {{ cluster.number }}</a>
</h4><br>
<b>Terms:</b><br>
  {{ cluster.terms }}<br>
<br>
<b>Reference document: </b><br>
{{ cluster.reference_document }}
<br>

{% if documents %}
  <br>
  <b>Documents:</b><br><br>
  {% include "topics_identifier/documents.html" %}
{% endif %}

{% if children %}
  <hr>
  <h4>Sub clusters: </h4><br>
  {% for child in children %}
    {% with cluster=child.cluster documents=child.documents children=child.children %}
      {% include "topics_identifier/cluster.html" %}
    {% endwith %}
  {% endfor %}
{% endif %}
