{% extends 'topics_identifier/base.html' %}

{% block content %}

  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
  </form>

  <hr>

  <h2>Cluster from dataset {{ dataset_name }}
    {% if search_string %}
      search for: {{ search_string }}
    {% endif %}
  </h2><br>

  {% for clusters_tree in trees %}
    {% for cluster_info in clusters_tree %}
      {% with cluster=cluster_info.cluster documents=cluster_info.documents children=cluster_info.children %}
        {% include "topics_identifier/cluster.html" %}
      {% endwith %}
      <hr>

    {% endfor %}
  {% endfor %}

{% endblock %}
