{% extends 'topics_identifier/base.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Cluster">
</form>

<hr>

{% if clusters %}
<h2>Clustering dataset {{ dataset_name }}</h2>
Dataset description: {{ dataset_description }}<br>
Clusters: {{ clusters|length }}
  {% for cluster in clusters %}
    <hr><h3>Cluster {{ cluster.number }}</h3><br>
    <b>Terms:</b>
      {{ cluster.terms }}
    <br><br>
    <b>Reference document: </b>{{ cluster.reference_document.content }}<br><br>
  {% endfor %}
{% endif %}

{% endblock %}
