{% extends 'topics_identifier/base.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Cluster">
</form>

<hr>

{% if clusters %}
<h2>Clustering dataset {{ dataset_name }}</h2>
Dataset description: {{ dataset_description }}<br>
Clusters found: {{ clusters|length }}
  {% for cluster in clusters %}
    <hr><h3>Cluster {{ cluster.cluster_number }}</h3><br>
    <b>Terms:</b>
    {% for term in cluster.terms %}
      {{ term }},
    {% endfor %}<br><br>
    <b>Reference document: </b>{{ cluster.reference_document }}<br><br>
    <b>Documents: </b><br>
    {% for document in cluster.documents %}
      {{ document }}<br><br>
    {% endfor %}<br>
  {% endfor %}
{% endif %}

{% endblock %}
