{% extends 'topics_identifier/base.html' %}

{% block content %}

{% if dataset_name %}
  <h2>Clusters from dataset {{ dataset_name }}</h2><br>
{% else %}
  <h2>Clusters</h2><br>
{% endif %}

  {% for cluster_info in clusters_list %}
    <hr>
    <h3>Level 1 - Cluster {{ cluster_info.cluster.number }} </h3><br>
    <b>Terms:</b><br>
      {{ cluster_info.cluster.terms }}<br>
    <br>
    <b>Reference document: </b><br>
    {{ cluster_info.cluster.reference_document.content }}
    <br>

    {% if cluster_info.documents %}
      <br>
      <b>Documents:</b><br><br>
      {% for document in cluster_info.documents %}
        {{ document.content }}<br><br>
      {% endfor %}
    {% endif %}

    {% if cluster_info.children %}
      <hr>
      <h3>Sub clusters: </h3><br>
      {% for child in cluster_info.children %}
        <h4>level 0 - Cluster {{ child.cluster.number }}</h4>
        <b>Terms:</b><br>
          {{ child.cluster.terms }}<br>
        <br>
        <b>Reference document: </b><br>
        {{ child.cluster.reference_document.content }}
        <br><br>

        {% if child.documents %}
          <b>Documents:</b><br><br>
          {% for document in children.documents %}
            {{ document.content }}<br><br>
          {% endfor %}
        {% endif %}

      {% endfor %}
    {% endif %}
  {% endfor %}


{% endblock %}
