{% extends 'base.html' %}

{% block content %}

  {% include "topics_identifier/topics_identifier_menu.html" %}

  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Generate models">
  </form>

<hr>

  {% if filenames %}
    <h2>Generated model: {{ model_name }}</h2>
    <br>
    <h3>Filenames:</h3>
    <br>
      <b>Models:</b><br>
        {% for filename in filenames.models %}
          {{ filename }}<br>
        {% endfor %}
      <br>
      <b>Vectorizers:</b><br>
      {% for filename in filenames.vectorizers %}
        {{ filename }}<br>
      {% endfor %}
      <br>
      <b>Reference documents:</b><br>
      {% for filename in filenames.reference_documents %}
        {{ filename }}<br>
      {% endfor %}
  {% endif %}

{% endblock %}
