{% extends 'base.html' %}

{% block content %}

  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
  </form>

  <hr>

  <h2>Tree: {{ tree.name }}</h2>
    <h4>{% include "topics_identifier/document_types.html" %}</h4>
    {% if search_string %}
      <h4>search for: {{ search_string }}</h4>
      <hr>
      {% for cluster_info in search_results %}
          {% with cluster=cluster_info.cluster documents=cluster_info.documents children=cluster_info.children %}
            {% include "topics_identifier/cluster.html" %}
          {% endwith %}
          <hr>
      {% endfor %}

    {% else %}
      <hr>
      {% include "topics_identifier/clusters_list.html" %}
    {% endif %}

{% endblock %}
